*.dll
*.bsa
*.nif
*.dds
*.mp3
*.esm
*.txt
TRWorldMap*
DLC*
Knights*
Unofficial Oblivion*
Unofficial Shivering*
Morrowind_ob.*
Oblivion*
Backup/*
BGSEE/*
DistantLOD/*
Docs/*
Fonts/*
Ini/*
INI Tweaks/*
LSData/*
menus/*
Meshes/*
Music/*
OBSE/*
Shaders/*
Sound/*
TES4Edit Backups/*
Textures/*
Trees/*
Video/*
